.main-content {
  flex-grow: 1;
  margin-left: 250px;
  padding: 20px;
  background-color: #ecf0f1;
  height: 100vh;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.logout {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout:hover {
  background-color: #c0392b;
}

.form-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.form-buttons button[type="submit"] {
  background-color: #2ecc71;
  color: white;
}

.form-buttons button[type="reset"] {
  background-color: #e74c3c;
  color: white;
}

/* Styles pour les champs non modifiables */
.form-group input[readonly] {
  background-color: #f2f2f2; /* couleur de fond gris clair */
  border: 1px solid #ccc; /* bordure grise */
  border-radius: 5px; /* bord arrondi */
  pointer-events: none; /* désactivation des événements de souris */
}

/* Pour les champs de texte en lecture seule */
.form-group input[type="text"][readonly],
.form-group input[type="email"][readonly] {
  background-color: #f2f2f2; /* couleur de fond gris clair */
  border: 1px solid #ccc; /* bordure grise */
  border-radius: 5px; /* bord arrondi */
  pointer-events: none; /* désactivation des événements de souris */
  color: #555; /* texte gris */
}
