<!-- change-password.component.html -->
<header>
    <h1>Changer Mot de Passe</h1>
</header>
<div class="form-section">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" id="nom" formControlName="nom" readonly>
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" formControlName="prenom" readonly>
        </div>
        <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" id="adresse" formControlName="adresse" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" readonly>
        </div>
        <div class="form-group">
            <label for="immatricule">Immatricule:</label>
            <input type="text" id="immatricule" formControlName="immatricule" readonly>
        </div>
        <div class="form-group">
            <label for="role">Rôle:</label>
            <input type="text" id="role" formControlName="role" readonly>
        </div>
        <div class="form-group">
            <label for="newPassword">Nouveau Mot de Passe:</label>
            <input type="password" id="newPassword" formControlName="newPassword" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirmer Mot de Passe:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        </div>
        <div class="form-buttons">
            <button type="submit">Changer le Mot de Passe</button>
        </div>
    </form>
</div>
